
<h2>MiTubo</h2>

<p>¡Comparte tus videos en MiTubo!</p>
<div id="indexForm">

<div id="login">

<form action="/login" method="post">
    <div>
        <label>Correo electrónico:</label>
        <input type="text" name="email" class="login_text"/>
    </div>
    <div>
        <label>Password:</label>
        <input type="password" name="password" class="login_text"/>
    </div>
    <div>
        <input type="submit" value="Login"/>
		<a href="/users/new" id="register">Register</a>
    </div>

</form>
</div>
</div>