<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8">
   <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
   <title>MiTubo</title>
   <script src="/javascripts/misc.js"></script>
</head>

<body>
   <header>
     <h1> MITUBO - CDPS </h1>
     <nav> 
        <div id='logininfo'>
           <% if (session) { %>
            <% if (session.username) { %>
               <%= session.username %>
              <a href='/videos'> Videos </a>
              <a href='/favs'> Favoritos </a>
               <a href='/logout'> Logout </a> 
           <% } else { %>
              <a href='/videos'> Videos </a>
              <a href='/favs'> Favoritos </a>
              <a href='/login?redir=/videos'> Login </a> 
              <a href='/users/new'> Register </a> 
           <% } %>
           <% } else { %>
              <a href='/videos'> Videos </a>
              <a href='/login?redir=/videos'> Login </a> 
              <a href='/users/new'> Register </a> 
           <% } %>
        </div>

     </nav>
     <br>
   </header>
  
   

     <%- body %>
</body>
</html>
