
<h2>Nuevo Usuario</h2>


<form action="/users/new" method="post">
    <div>
        <label>Correo electrónico:</label>
        <input type="text" name="email" class="register_text"/>
    </div>
    <div>
        <label>Nombre:</label>
        <input type="text" name="username" class="register_text"/>
    </div>
    <div>
        <label>Contraseña:</label>
        <input type="password" name="password" class="register_text"/>
    </div>
     <div>
        <label>Repita contraseña:</label>
        <input type="password" name="repeat_password" class="register_text"/>
    </div>
    <div>
        <input type="submit" value="Register"/>
    </div>

</form>
