<br></br>
<form action="/upload" method="post" enctype="multipart/form-data">
            
        	<div>
	            <label for="video">Video:</label>
	            <input type="file" name="videofile">Video</input>
        	</div>
        <div>
        	<label>Titulo: </label>

            <input type="textarea" name="title" class="login_text"></input>
        </div>
        <div>
        	<label>Descripción: </label>
            <input type="textarea" name="description" class="login_text"></input>
        </div>
        <div>
            <input type="submit" value="Send message" />
        </div>
</form>
<br></br>
<form action="/removeData" method="post">
	<input type="submit" value="Borrar DB"/>
</form>