VIDEOS AQUÍ
<div id="videosaqui"></div>


<form action="/upload" method="post" enctype="multipart/form-data">
        <fieldset>
            

            <label for="video">Video:</label>
            <input type="file" name="username">Video</input>
            <input type="submit" value="Send message" />

        </fieldset>
</form>
<script>
	window.onload = function () {
		var videos = <%- JSON.stringify(list) %>;
		var videosaqui = document.getElementById("videosaqui");
		for (var id in videos) {
			var video = document.createElement("video");
			var newDiv = document.createElement("div");
			videosaqui.appendChild(newDiv);
		    video.setAttribute("src", videos[id]);
		    video.setAttribute("controls", "controls");
		    video.setAttribute("preload", "auto");
			newDiv.appendChild(video);
		}
	}
</script>