
<br></br>
<form action="/upload" method="get">
    <input type="submit" value="Subir nuevo video" />
</form>
<br></br>
<br></br>


<div id="videosList"></div>



<script>
	window.onload = function () {
		var videos = <%- JSON.stringify(list) %>;
		var videosList = document.getElementById("videosList");
		for (var video in videos) {

				createUser(videos[video]);
			
		}
	}

	var createUser = function(video){
		var hr = document.createElement("hr")

		var blockDiv = document.createElement("div");
		blockDiv.setAttribute("id", "blockDiv");
		blockDiv.className = "blockDiv";
		videosList.appendChild(blockDiv);

		var videoDiv = document.createElement("div");
		videoDiv.setAttribute("id", "videoDiv");
		videoDiv.className = "videoDiv";


		var titleDiv = document.createElement("div");
		var descDiv = document.createElement("div");
		var infoDiv = document.createElement("div");
		infoDiv.className = "infoDiv";



		var videoScreen = document.createElement("video");
		videoScreen.setAttribute("src", video["url"]);
	    videoScreen.setAttribute("controls", "controls");
	    videoScreen.setAttribute("preload", "auto");
		videoDiv.appendChild(videoScreen);
	
		titleDiv.innerHTML = video["title"];
		titleDiv.className = "titleDiv";

		descDiv.innerHTML = video["desc"];
		descDiv.className = "descDiv";

		infoDiv.appendChild(titleDiv);
		infoDiv.appendChild(descDiv);

		var fav = document.createElement("form");
		fav.setAttribute("method", "post");
		fav.setAttribute("action", "/fav");
		fav.className = "favButton";


		var favId = document.createElement("input");
		favId.setAttribute("type", "hidden");
		favId.value = video["id"];
		favId.name = "videoFav";

		var s = document.createElement("input");
		s.setAttribute("type", "submit");
		s.setAttribute("value","FAV");

		fav.appendChild(favId);
		fav.appendChild(s);

		
		blockDiv.appendChild(videoDiv);
		blockDiv.appendChild(infoDiv);
		blockDiv.appendChild(fav);
		videosList.appendChild(hr);


	}
</script>
