
<br></br>
<form action="/upload" method="get">
    <input type="submit" value="Subir nuevo video" />
</form>
<br></br>
<br></br>


<div id="videosList"></div>



<script>
	window.onload = function () {
		var videos = <%- JSON.stringify(list) %>;
		var videosList = document.getElementById("videosList");
		for (var video in videos) {

				createUser(videos[video]);
			
		}
	}

	var createUser = function(video){
		var videoScreen = document.createElement("video");
		var titleDiv = document.createElement("div");
		var descDiv = document.createElement("div");
		var videoDiv = document.createElement("div");
		var newDiv = document.createElement("div");
		var titleLabel = document.createElement("label");
		var descLabel = document.createElement("label");
		var fav = document.createElement("form");
		fav.setAttribute("method", "post");
		fav.setAttribute("action", "/fav");
		
		var favId = document.createElement("input");
		favId.setAttribute("type", "hidden");
		favId.value = video["id"];
		favId.name = "videoFav";
		var s = document.createElement("input");
		s.setAttribute("type", "submit");
		s.setAttribute("value","FAV");
		fav.appendChild(favId);
		fav.appendChild(s);

		titleLabel.innerHTML = video["title"];
		descLabel.innerHTML = video["desc"];
		
		videosList.appendChild(newDiv);
	    videoScreen.setAttribute("src", video["url"]);
	    videoScreen.setAttribute("controls", "controls");
	    videoScreen.setAttribute("preload", "auto");

	    newDiv.appendChild(titleDiv);
		newDiv.appendChild(videoDiv);
		newDiv.appendChild(descDiv);
		newDiv.appendChild(fav);
		titleDiv.appendChild(titleLabel);
		videoDiv.appendChild(videoScreen);
		descDiv.appendChild(descLabel);

	}
</script>
