VIDEOS AQUÍ
<div id="videosaqui"></div>


<form action="/upload" method="post" enctype="multipart/form-data">
        <fieldset>
            
        	<div>
	            <label for="video">Video:</label>
	            <input type="file" name="username">Video</input>
        	</div>
        <div>
        	<label>Titulo: </label>

            <input type="textarea" name="title" class="login_text"></input>
        </div>
        <div>
        	<label>Descripción: </label>
            <input type="textarea" name="description" class="login_text"></input>
        </div>
        <div>
            <input type="submit" value="Send message" />
        </div>
        </fieldset>
</form>

<script>
	window.onload = function () {
		var videos = <%- JSON.stringify(list) %>;
		var videosaqui = document.getElementById("videosaqui");
		for (var video in videos) {

				createUser(video);
			
		}
	}

	var createUser = function(video){
		var videoDiv = document.createElement("video");
		var newDiv = document.createElement("div");
		var labelTitle = document.createElement("label");
		var labelDesc = document.createElement("label");

		labelTitle.innerHTML = video["title"];
		labelDesc.innerHTML = video["desc"];

		videosaqui.appendChild(newDiv);
	    videoDiv.setAttribute("src", video["url"]);
	    videoDiv.setAttribute("controls", "controls");
	    videoDiv.setAttribute("preload", "auto");
	    newDiv.appendChild(labelTitle);
		newDiv.appendChild(videoDiv);
		newDiv.appendChild(labelDesc);
	}
</script>