
<h2>Nuevo Usuario</h2>


<form action="/users/new" method="post">
    <div>
        <label>Username:</label>
        <input type="text" name="username" class="register_text"/>
    </div>
    <div>
        <label>Password:</label>
        <input type="password" name="password" class="register_text"/>
    </div>
     <div>
        <label>Repeat password:</label>
        <input type="password" name="repeat_password" class="register_text"/>
    </div>
    <div>
        <input type="submit" value="Register"/>
    </div>

</form>
